<!--{% load static %}-->
<!--<!doctype html>-->
<!--<html lang="kr">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<meta name="viewport"-->
          <!--content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
    <!--<meta http-equiv="X-UA-Compatible" content="ie=edge">-->
    <!--<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">-->
    <!--<link rel="stylesheet" href="{% static 'css/blog.css' %}">-->
    <!--<title>You and Me</title>-->
<!--</head>-->
<!--<body>-->
<!--<div class="blog-header">-->
    <!--<div class="container">-->
        <!--<h2 class="blog-title"><a href="{% url 'index' %}">Siba Post</a></h2>-->
        <!--&lt;!&ndash;<div class="header-right">&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="{% url 'post_add' %}">+ Add Questions</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
<!--</div>-->
<!--<div class="container main-container">-->
    <!--{% block content %}-->
    <!--{% endblock %}-->
<!--</div>-->
<!--</body>-->
<!--</html>-->